.testimonial{

    width: 100%;
    height: auto;
    overflow: visible;
    color: #2D2D2D;


}

.testimonial .testimonial-container{max-width: 55rem;margin: auto;}
.testimonial .testimonial-container h2{

    font-family: 'Khula', sans-serif;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1rem;
    letter-spacing: -3px;
    text-align: center;

}

.testimonial .testimonial-container h4{

    font-family: 'Khula', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1rem;
    letter-spacing: -2px;
    text-align: center;
    font-style: oblique;

}

.testimonial .testimonial-container .reviews{

    background-image: linear-gradient(to bottom right, #ECECEC, #fff);
    padding: 2rem 4rem;
    border-radius: 5rem;
    box-shadow: inset 0px 0px 50px rgba(89, 89, 89, 0.16), 0px 0px 75px rgba(89, 89, 89, 0.25);
    width: 80%;
    min-height: 50vh;
    margin: auto;

}

.swiper-button-next, .swiper-button-prev{

    position: relative;
    /* display: inline; */
    margin: auto 1rem;
    height: 3.5rem;
    width: 3rem;

}

.reviews .navs{

    width: fit-content;
    /* height: 10rem; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 80%;
    background-color: rgba(0,0,0,.1);
    border-radius: 60rem;
    background-color: white;
    box-shadow: inset 0px 0px 75px #DEDEDE, 0px 0px 25px #DAD9D9;

}


.reviews .navs *::after{

    font-size: 1.5rem;
    color: #2d2d2d;

}

@media only screen and (max-width: 1000px){

    .testimonial .testimonial-container h2{

        font-size: 3.5rem;
        line-height: 3.6rem;

    }

    .testimonial .testimonial-container h4{

        font-size: 1.5rem;
        line-height: .5rem;

    }

    .testimonial .testimonial-container .reviews{

        padding: 2rem 2rem;

    }

}

@media only screen and (max-width: 550px){

    .reviews .navs{

        position: relative;
        justify-self: center;
        margin: 1rem auto;
        right: auto;

    }

    .reviews .navs *::after{

        font-size: 1rem ;

    }

    .swiper-button-next, .swiper-button-prev{

        width: 2rem;
        margin: .1rem 1rem;

    }

    .testimonial .testimonial-container .reviews{

        padding:2rem 1.2rem;

    }

    .testimonial .testimonial-container h2{font-size: 2.8rem; line-height: 3rem;} 

}