header{

    position: sticky;
    width: 100%;
    max-width: 100rem;
    left: 50%;
    /* transform: translateX(-50%); */
    margin: auto;
    z-index: 9;

}

header.up{
    /* position: absolute; */
    top:5%;

}

header.down{

    top:80vh;
    position: fixed;
    max-width: none;

}

header nav .brand img{
    
    position: absolute;
    left: 5%;
    width: 5rem;
    height: 5.5rem;
    
}  

header nav button {
    
    float: right;
    border-radius: 100%;
    padding: 0.5rem;
    background: rgba(50, 50, 50, 0.75);
    border: none;
    position: absolute;
    right: 5%;
    cursor: pointer;
    box-shadow: inset 0px 0px 4px  hsla(0, 0%, 100%, 0.2);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    
}

header nav button:hover{

    transform: scale(0.9);

}

header nav button img{
    
    width: 3.5rem;
    height: 3.5rem;

}

header .bottom button{

    float: left;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    cursor: context-menu;
    position: absolute;
    left: 5%;

}

header .bottom button img{

    width: 4rem;
    height: 4rem;

}

header .bottom a img{

    width: 4.5rem;
    float: right;
    position: absolute;
    right: 5%;

}

@media only screen and (max-width: 1000px) {
    
    header.up button img{width: 2.6rem !important; height: 2.5rem !important;}
    header.up .brand img{width: 3.5rem !important; height: 3.8rem !important;}
    header.down button img{width: 2.6rem !important; height: 2.6rem !important;}
    header.down .brand img{width: 3rem !important; height: 3rem !important;}
    header.down{

        top:250vh;
    
    }

}

@media only screen and (max-width: 550px) {
    
    header.up button img{width: 1.55rem !important; height: 1.5rem !important;}
    header.up .brand img{width: 2.5rem !important;height: 2.7rem !important}
    header.down{

        top:210vh;
    
    }

}


