.hero {

  text-align: center;
  /* color: ; */
  min-height: 100vh;
  background: url("");
  color: #fff;
}

.hero-container{

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  min-width: max-content;
  text-align: center;
  margin: auto;
  display: block;

}

.hero .herohead h1.mainhead {

  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size: 6.5rem;
  line-height: 5.8rem;
  letter-spacing: -5px;
  margin-bottom: 0px;

}

.hero .herohead h1.mainhead span{

  -webkit-text-stroke: 3px #fff;
  color: transparent;

}

.hero .maintext {

  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1px;


}

.hero .order{

  background-color: #F31338;
  padding: 0.5rem 2rem; 
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  border-radius: 600px;

  
}

.hero .order h4{
  
  display: inline;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  margin: 0rem 1rem;

}

.hero .order img{

  margin: 0rem 1rem;

  height: 5em;
  width: 5em;
  transform: translateY(-0.6rem);

}

@media only screen and (max-width 1000px) {

  .hero .herohead h1.mainhead{

    font-size: 2rem;

  }

}
