body{
    overflow: hidden;
    transition: 0s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100vw;
    height: 100vh;
    background-color: #2d2d2d;
}

*{transition: 1s cubic-bezier(0.19, 1, 0.22, 1);}
